{{define "list"}}
{{ template "head"}}

    <!-- Page Wrapper -->
    <div id="wrapper">

        {{ template "sidebar" . -}}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {{ template "topbar" . -}}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                  <!-- Page Heading -->
                  {{ $entityName := .EntityName }}
                  <div class="row">
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <h1 class="h3 mb-2 text-gray-800">{{ .Title }}</h1>
                        <p class="mb-4">{{ .Description }}</p>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 my-4">
                        <a href="/admin/entity/{{$entityName}}/new" class="btn btn-primary btn-icon-split" style="float: right;">
                            <span class="icon text-white-50">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span class="text">Create New</span>
                        </a>
                    </div>
                  </div>
                 
                  <!-- DataTales Example -->
                  <div class="card shadow mb-4">
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                  <thead>
                                      <tr>
                                        {{ range .Columns }}
                                            <th>{{ . | replace "_" " " | title }}</th>
                                        {{ end }}
                                        <th style="width:10%">Actions</th>
                                      </tr>
                                  </thead>
                                  <tfoot>
                                      <tr>
                                        {{ range .Columns }}
                                            <th>{{ . | replace "_" " " | title }}</th>
                                        {{ end }}
                                        <th>Actions</th>
                                      </tr>
                                  </tfoot>
                                  <tbody>
                                    {{range .Rows }}
                                        <tr>
                                            {{ range .Columns }}
                                                 <td>{{ .Value }}</td>
                                            {{end}}
                                            <td>
                                                <a href="/admin/entity/{{$entityName}}/{{ .PrimaryKeyValue }}" class="btn btn-info btn-circle btn-sm">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a onclick="deleteItem({{ .PrimaryKeyValue }})" class="btn btn-danger btn-circle btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>      
                                        </tr>
                                    {{end}}
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

        <!-- Delete Item Modal-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete item?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Delete" if you are sure about removing the item</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a id="modal-delete-buttom" class="btn btn-danger" href="/login">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function deleteItem(id) {
            $('#modal-delete-buttom').attr('href', '/admin/entity/{{$entityName}}/' + id + '/delete');
            $('#deleteModal').modal();
        }
    </script>


{{ template "foot" }}
{{end}}
